*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    height: 72px;
    background-color: #c84b31;
}

a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 48px;
}

#imagem-capa{
    width: 85%;
    height:315px;
    box-shadow: 0px 5px 5px rgba(235, 157, 157, 0.3);

}

#imagem-capa img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

#pagina{
    width: 70%;
    height: 100%;
    background-color:white;
    position: absolute;
    top: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(235, 157, 157, 0.3);

}

h1{
    padding-top: 15px;
    font-size: 70px;
}

p{
    width: 85%;
    text-align: justify;
    font-size: 20px;
    padding-top: 15px;

}

section{
    width: 85%;
    display: block;
    padding-top: 10px;
}

h2{
    font-size: 30px;
}

ul{
    padding-top: 10px;
    width: 78%;
    display: block;
}

li{
    font-size: 20px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 990px){
    header a img{
        width: 220px;
        height: 30px;
    }
    h1{
        font-size: 50px;
    }

    p{
        text-align: left;
    }

    p, li{
        font-size: 16px;
    }

    h2{
        font-size: 20px;
    }
}

@media only screen and (max-width: 790px){
    header a img{
        width: 220px;
        height: 30px;
    }
    h1{
        font-size: 50px;
    }

    p{
        text-align: left;
    }

    p, li{
        font-size: 16px;
    }

    h2{
        font-size: 20px;
    }
}

@media only screen and (max-width: 680px){
    #imagem-capa{
        width: 100%;
        height:215px;
    
    }

    #pagina{
        width: 80%;
        top: 230px;
    }
    header a img{
        width: 170px;
        height: 20px;
    }
    h1{
        font-size: 40px;
    }
}

@media only screen and (max-width: 450px){
    #imagem-capa{
        height:185px;
    
    }

    #pagina{
        width: 90%;
        top: 210px;
    }
    a{
        padding-left: 20px;
    }
    header a img{
        width: 170px;
        height: 20px;
    }
    h1{
        font-size: 30px;
    }
}

@media only screen and (max-width: 350px){
    #imagem-capa{
        height:145px;
    
    }

    #pagina{
        width: 100%;
        top: 190px;
    }
    h1{
        font-size: 20px;
    }

    p{
        text-align: left;
    }

    p, li{
        font-size: 14px;
    }

    h2{
        font-size: 16px;
    }
}