@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul: #00aae7;
  --vermelho-fonte: #f53333;
  --verde-fonte: #10bf6c;
  --branco-fundo: #fbfbfb;
  --verde-button: #00ceae;
  --marrom-cabecalho: #c84b31;
  --branco-fundo-toggle: #f2f2f2;
  --branco-puro: #ffffff;
}

body{
  background-color: var(--branco-fundo);
  overflow: hidden;
}

/*inicio header*/

#cabecalho {
  width: 100%;
  height: 72px;
  background-color: var(--marrom-cabecalho);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 48px;
}

#cabecalho span {
  font-family: "Alfa Slab One", cursive;
  font-size: 70px;
  padding-right: 48px;
  color: var(--branco-puro);
}

/*fim header*/

/*inicio financas*/
#financas {
  width: 100%;
  height: 280px;
  background-color: var(--branco-fundo);
  border-radius: 0px 0px 100px 100px;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
}

#saldo {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding-top: 15px;
}

#saldo label{
    font-size: 30px;
    font-weight: 400;
}

#saldo h1{
    font-size: 50px;
    font-weight: bold;
}



#areaReceitaDespesa{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
 
}

.values{
  display: flex;
  flex-direction: column;
}

.values span{
  font-family: 'Roboto', sans-serif;
}

.values #receitaText, #despesaText{
  font-size: 30px;
}

.values #despesaValue, #receitaValue{
  font-size: 40px;
}

.values #receitaValue{
  color: var(--verde-fonte);
}

.values #despesaValue{
  color: var(--vermelho-fonte);
}


#conteudo-da-receita{
  display:flex;
  align-items: flex-end;
}

#conteudo-da-receita img{
  width: 50px;
  height: 50px;
}


#conteudo-da-despesa{
  display:flex;
  align-items: flex-end;
}

#conteudo-da-despesa img{
  width: 50px;
  height: 50px;
}
/*fim financas*/



/*Inicio Área de conteúdo*/

#conteudo{
  display: flex;
  background-color: blue;
  width: 100%;
  height: 320px;
  justify-content: space-around;

}


.caixa-conteudo{
  background: chocolate;
  width: 40%;
  height: 100%;
  overflow-y: auto;
}


li{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 60px;
  height: 70px;
  border-bottom: 2px solid black;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}


::-webkit-scrollbar{
  width:12px;
}

#caixa-post{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}
.post{
  width: 40%;
  height: 200px;
  background-color: blanchedalmond;
  margin: 10px 0px 10px 0px;
  border-radius: 20px;

}

/*Fim Área de conteúdo*/
